.App {
  text-align: center;
}

.App-header {
  padding-left: 4vh;
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(1px + 2vmin);
  font-family: system-ui;
  color: white;
}

.Login-button {
  margin-right: 4vh !important;
  width: 20vh;
  min-height: 8vh;
  padding-top: 0px;
  padding-bottom: 0px;
}
